/* You can add global styles to this file, and also import other style files */

:root {
  --bg-color: #ffe4c4;
  --text-color: #06514C;
}

body {
  background-color: var(--bg-color);
  margin: 0;

  a11y-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.float-left {
  float: left;
}

