/* You can add global styles to this file, and also import other style files */

body {
  background-color: bisque;
  margin: 0;

  a11y-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.float-left {
  float: left;
}

