<main>
  <div class="form">
    <h1>Inscription</h1>
    <form #registerForm="ngForm">
      <div class="form-group">
        <label for="reg-email">Email : </label>
        <input
          type="email"
          [(ngModel)]="data.email"
          placeholder="email@test.com"
          name="email"
          id="reg-email"
          required
          aria-required="true"
        />
      </div>

      <div class="form-group">
        <label for="reg-password">Mot de passe :</label>
        <input
          type="password"
          placeholder="************"
          [(ngModel)]="data.password"
          name="password"
          id="reg-password"
          required
          aria-required="true"
        />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmer le mot de passe :</label>
        <input
          type="password"
          placeholder="************"
          [(ngModel)]="data.confirmPassword"
          name="confirmPassword"
          id="confirmPassword"
          required
          aria-required="true"
        />
      </div>

      <div class="form-actions">
        <button type="button" (click)="reset()" class="btn-secondary">
          Réinitialiser
        </button>
        <button
          type="submit"
          (click)="register()"
          [disabled]="registerForm.invalid"
          class="btn-primary"
        >
          S'inscrire
        </button>
      </div>
    </form>
  </div>
</main>
