<div class="footer">
    <div class="footer__links">
        <a href="javascript:void(0)"
        (click)="goToLegal()"
        role="button">{{'footer.legal' | translate}}</a>
        <a href="javascript:void(0)"
        (click)="goToConfidentiality()"
        role="button">{{'footer.confidentiality' | translate}}</a>
    </div>
    <div class="newsletter__form">
        <form (ngSubmit)="signIn()" #newsletterForm="ngForm">
            <input class="newsletter__input" type="text" placeholder="{{'footer.form.input.placeholder' | translate}}" [(ngModel)]="email" required>
            <button class="newsletter__button" type="submit" [disabled]="newsletterForm['form'].invalid">{{'footer.form.button.text' | translate}}</button>
        </form>
    </div>
    <p>{{'footer.text' | translate}}</p>
</div>