<section>
  <div class="news">
    <h1>News</h1>
    <div class="news_items">
      @for (news of (allNews$ | async); track news.id) {
        <a [href]="'news/'+news.id" class="news__item">
          <div class="news__header">
            <div class="news__date">{{news.date | date}}</div>
            <h2>{{news.title}}</h2>
          </div>
          <div class="news__content">
            <p>{{news.description}}</p>
          </div>
        </a>
      } @empty {
        <div class="news_item">
          <h3>No content for the moment</h3>
        </div>
      }
    </div>
  </div>
</section>