.news {

  &_items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a:-webkit-any-link {
      text-decoration: none;
    }
  }

  &__item {
    border: 1px solid var(--text-color);
    border-radius: .625rem;
  }

  &__header {
    background: var(--text-color);
    padding: 10px;
    border-radius: .5rem .5rem 0 0;
    color: var(--bg-color);

    h2 {
      margin: 0;

      a {
        color: var(--bg-color);
      }
    }
  }

  &__date {
    float:right;
  }

  &__content {
    padding: 10px;
    color: var(--text-color);
  }
}
