<header class="header" role="banner">
  <a href="" class="header__logo" routerLink="/" aria-label="a11y Project">
    a11y Project
  </a>

  <button
    class="header__burger-btn"
    aria-label="Ouvrir le menu"
    [attr.aria-expanded]="isMenuOpen"
    (click)="toggleMenu()"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav
    class="header__menu"
    [class.header__menu--open]="isMenuOpen"
    aria-label="Navigation principale"
  >
    <button
      class="header__close-btn"
      aria-label="Fermer le menu"
      (click)="toggleMenu()"
    >
      &times;
    </button>

    <a class="header__menu-link" routerLink="/" aria-current="page">
      {{'header.home' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToAbout()"
      role="button"
    >
    {{'header.about' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToContact()"
      role="button"
    >
    {{'header.contact' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToNews()"
      role="button"
    >
    {{'header.news' | translate}}
    </a>
    <a class="header__menu-link" routerLink="/lists"> {{'header.lists' | translate}} </a>
    @if (!authService.isLoggedIn()) {
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToLogin()"
      role="button"
    >
    {{'header.login' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToRegister()"
      role="button"
    >
    {{'header.register' | translate}}
    </a>
    } @else {
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="logout()"
      role="button"
    >
    {{'header.logout' | translate}}
    </a>
    }
    <select (change)="changeLanguage($event)" aria-label="Sélection de la langue">
      <option value="fr" [selected]="currentLanguage === 'fr'">FR</option>
      <option value="en" [selected]="currentLanguage === 'en'">EN</option>
    </select>
  </nav>
</header>
