.header {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  a {
    color: #000;
    text-decoration: none;
  }

  &__logo {
    float: left;
    font-size: 2rem;
    font-weight: bolder;
  }

  &__menu {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;

    & > * {
      display: inline-block;
      color: #003f3a;
      text-decoration: none;

      &:hover {
        color: var(--text-color);
      }
    }
  }
}
