<header class="header" role="banner">
  <a href="" class="header__logo" routerLink="/" aria-label="a11y Project">
    a11y Project
  </a>
  <nav class="header__menu" aria-label="Navigation principale">
    <a class="header__menu-link" routerLink="/" aria-current="page">
      {{'header.home' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToAbout()"
      role="button"
    >
    {{'header.about' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToContact()"
      role="button"
    >
    {{'header.contact' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToNews()"
      role="button"
    >
    {{'header.news' | translate}}
    </a>
    <a class="header__menu-link" routerLink="/lists"> {{'header.lists' | translate}} </a>
    @if (!authService.isLoggedIn()) {
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToLogin()"
      role="button"
    >
    {{'header.login' | translate}}
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToRegister()"
      role="button"
    >
    {{'header.register' | translate}}
    </a>
    } @else {
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="logout()"
      role="button"
    >
    {{'header.logout' | translate}}
    </a>
    }
    <select (change)="changeLanguage($event)" aria-label="Sélection de la langue">
      <option value="fr" [selected]="currentLanguage === 'fr'">FR</option>
      <option value="en" [selected]="currentLanguage === 'en'">EN</option>
    </select>
  </nav>
</header>
