<header class="header" role="banner">
  <a href="" class="header__logo" routerLink="/" aria-label="a11y Project">
    a11y Project
  </a>

  <button
    class="header__burger-btn"
    aria-label="Ouvrir le menu"
    [attr.aria-expanded]="isMenuOpen"
    (click)="toggleMenu()"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav
    class="header__menu"
    [class.header__menu--open]="isMenuOpen"
    aria-label="Navigation principale"
  >
    <button
      class="header__close-btn"
      aria-label="Fermer le menu"
      (click)="toggleMenu()"
    >
      &times;
    </button>

    <a class="header__menu-link" routerLink="/" aria-current="page">
      Accueil
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToAbout()"
      role="button"
    >
      À propos
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToContact()"
      role="button"
    >
      Contact
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToNews()"
      role="button"
    >
      Actualités
    </a>
    <a class="header__menu-link" routerLink="/lists"> Listes </a>
    @if (!authService.isLoggedIn()) {
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToLogin()"
      role="button"
    >
      Connexion
    </a>
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="goToRegister()"
      role="button"
    >
      Inscription
    </a>
    } @else {
    <a
      class="header__menu-link"
      href="javascript:void(0)"
      (click)="logout()"
      role="button"
    >
      Déconnexion
    </a>
    }
  </nav>
</header>
