.header {
  height: 10vh;
  color: #000;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #000;
    text-decoration: none;
  }

  &__logo {
    float: left;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;
  }

  &__menu {
    font-size: 1rem;
    padding: 1rem;

    & > * {
      padding: 1rem 1.5rem;
      color: #003f3a;
      text-decoration: none;

      &:focus {
        outline-offset: 2px;
      }

      &:hover {
        color: #069b8f;
      }
    }
  }
}
