<main>
  <section class="section section--1">
    <h1 class="section__title">Who are we?</h1>

    <div class="section section--1">
      <div class="section__content">
        <div class="section__left">
          <p class="text-content">
            The a11y website aims at showing you the best practices regarding
            web design and accessibility. We are a really modern website that is
            easily usable by everyone. Well. Almost. Not really.
            <span class="upper">At least we tried ok!!!!!</span>
          </p>
        </div>
        <div class="section__right">
          <img
            src="assets/elizabeth-woolner-9xxNZCJZ8bA-unsplash.jpg"
            alt="Laptop computer sitting on top of a desk, representing web accessibility"
          />
          <div class="section__right__info-photo">
            <p>
              Photo by
              <a
                href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                aria-label="Visit Elizabeth Woolner's profile on Unsplash"
                >Elizabeth Woolner</a
              >
              on
              <a
                href="https://unsplash.com/photos/a-laptop-computer-sitting-on-top-of-a-desk-9xxNZCJZ8bA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                aria-label="View original image on Unsplash"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--2">
    <h2 class="section__title">Our strengths</h2>

    <div class="section__content">
      <article class="card card--1">
        <h3 class="card__header">Expertise</h3>
        <div class="card__body">
          Our developers and designers all have 20+ years of experience. They
          work with the pioneers of the web.
        </div>
      </article>
      <article class="card card--2">
        <h3 class="card__header">Attention to details</h3>
        <div class="card__body">
          We scrutinize and polish every single pixel of this website for the
          best experience ever.
        </div>
      </article>
      <article class="card card--3">
        <h3 class="card__header">Up to date</h3>
        <div class="card__body">
          We follow the latest standards such as HTML5 and CSS3. We're quite
          proud to be that up to date.
        </div>
      </article>
      <article class="card card--4">
        <h3 class="card__header">Support</h3>
        <div class="card__body">
          We are easily accessible through the contact form that you can reach
          <a href="/contact" aria-label="Go to our contact page">here</a>
        </div>
      </article>
    </div>
  </section>

  <section class="section section--3">
    <h2 class="section__title">Testimonies</h2>
    <div class="section__content">
      <article class="testimony">
        <div class="testimony__image">
          <img
            src="assets/home-testimony-portrait-1.png"
            alt="Portrait of Sandra, an a11y user"
          />
        </div>
        <div class="testimony__content">
          <blockquote class="testimony__quote">
            I like this website. It shows me all the colors that do exist and
            are not to be used on the Internet. Navigating this website feels
            like a quest into the unknown. And all that for free.
          </blockquote>
          <div class="testimony__info">
            <cite class="testimony__author">Sandra, a11y user</cite>
          </div>
        </div>
      </article>
      <article class="testimony">
        <div class="testimony__image">
          <img
            src="assets/home-testimony-portrait-2.png"
            alt="Portrait of Michael, an a11y user"
          />
        </div>
        <div class="testimony__content">
          <blockquote class="testimony__quote">
            Since I discovered this website, I lost 5/10 in average on my eyes
            and had to buy glasses. This is a very nice warning to what kind of
            emotions and physical modifications good websites can cause.
          </blockquote>
          <div class="testimony__info">
            <cite class="testimony__author">Michael, a11y user</cite>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="section gallery" aria-labelledby="gallery-title">
    <h2 id="gallery-title" class="section__title">In images</h2>
    <div class="section__content">
      <figure class="image">
        <img
          src="assets/home-page-gallery-1.jpg"
          alt="Person holding a black device case"
        />
        <div class="image__infos">
          Photo by
          <a
            href="https://unsplash.com/@sigmund?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Sigmund's profile on Unsplash"
            >Sigmund</a
          >
          on
          <a
            href="https://unsplash.com/photos/person-holding-black-plastic-case-HE1zW44Zm_Y?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </div>
      </figure>

      <figure class="image">
        <img
          src="assets/home-page-gallery-2.jpg"
          alt="A person's hand on a table with a chain attached to it"
        />
        <div class="image__infos">
          Photo by
          <a
            href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Elizabeth Woolner's profile on Unsplash"
            >Elizabeth Woolner</a
          >
          on
          <a
            href="https://unsplash.com/photos/a-persons-hand-on-a-table-with-a-chain-attached-to-it-oRZJSFcFjNk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </div>
      </figure>

      <figure class="image">
        <img
          src="assets/home-page-gallery-3.jpg"
          alt="Woman in black long sleeve shirt covering her face"
        />
        <div class="image__infos">
          Photo by
          <a
            href="https://unsplash.com/@ivalex?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Ivan Aleksic's profile on Unsplash"
            >Ivan Aleksic</a
          >
          on
          <a
            href="https://unsplash.com/photos/woman-in-black-long-sleeve-shirt-covering-her-face-hko-iWhYdYE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </div>
      </figure>

      <figure class="image">
        <img
          src="assets/home-page-gallery-4.jpg"
          alt="Man wearing red crew neck sweater with teal and black backpack"
        />
        <div class="image__infos">
          Photo by
          <a
            href="https://unsplash.com/@franganillo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Jorge Franganillo's profile on Unsplash"
            >Jorge Franganillo</a
          >
          on
          <a
            href="https://unsplash.com/photos/man-wearing-red-crew-neck-sweater-with-teal-and-black-backpack-outdoor-during-daytime-6KO9KV8QP-c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </div>
      </figure>
    </div>
  </section>
</main>
