<main>
  <section class="section section--1">
    <h1 class="section__title">{{'homePage.section_1.title' | translate}}</h1>

    <div class="section--1">
      <div class="section__content">
        <div class="section__left">
          <p class="text-content">
            {{'homePage.section_1.text' | translate}}
            <span class="upper">{{'homePage.section_1.span' | translate}}</span>
          </p>
        </div>
        <div class="section__right">
          <img
            src="/assets/elizabeth-woolner-9xxnzcjz8ba-unsplash.webp"
            alt="{{'homePage.section_1.image.alt' | translate}}"
          />
          <div class="section__right__info-photo">
            <p>
              {{'homePage.section_1.links.by' | translate}}
              <a
                href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                aria-label="Visit Elizabeth Woolner's profile on Unsplash"
                >Elizabeth Woolner</a
              >
              {{'homePage.section_1.links.on' | translate}}
              <a
                href="https://unsplash.com/photos/a-laptop-computer-sitting-on-top-of-a-desk-9xxNZCJZ8bA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                aria-label="View original image on Unsplash"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--2">
    <h2 class="section__title">{{'homePage.section_2.title' | translate}}</h2>

    <div class="section__content">
      <article class="card card--1">
        <h3 class="card__header">{{'homePage.section_2.card_1.title' | translate}}</h3>
        <p class="card__body">
          {{'homePage.section_2.card_1.text' | translate}}
        </p>
      </article>
      <article class="card card--2">
        <h3 class="card__header">{{'homePage.section_2.card_2.title' | translate}}</h3>
        <p class="card__body">
          {{'homePage.section_2.card_2.text' | translate}}
        </p>
      </article>
      <article class="card card--3">
        <h3 class="card__header">{{'homePage.section_2.card_3.title' | translate}}</h3>
        <p class="card__body">
          {{'homePage.section_2.card_3.text' | translate}}
        </p>
      </article>
      <article class="card card--4">
        <h3 class="card__header">{{'homePage.section_2.card_4.title' | translate}}</h3>
        <p class="card__body">
          {{'homePage.section_2.card_4.text' | translate}}
          <a href="/contact" aria-label="Go to our contact page">{{'homePage.section_2.card_4.link.text' | translate}}</a>.
        </p>
      </article>
    </div>
  </section>

  <section class="section section--3">
    <h2 class="section__title">{{'homePage.section_3.title' | translate}}</h2>
    <div class="section__content">
      <article class="testimony">
        <div class="testimony__image">
          <img
            src="assets/home-testimony-portrait-1.webp"
            alt="Portrait of Sandra, an a11y user"
          />
        </div>
        <div class="testimony__content">
          <blockquote class="testimony__quote">
            {{'homePage.section_3.first_article.quote' | translate}}
          </blockquote>
          <div class="testimony__info">
            <cite class="testimony__author">{{'homePage.section_3.first_article.cite' | translate}}</cite>
          </div>
        </div>
      </article>
      <article class="testimony">
        <div class="testimony__image">
          <img
            src="assets/home-testimony-portrait-2.webp"
            alt="Portrait of Michael, an a11y user"
          />
        </div>
        <div class="testimony__content">
          <blockquote class="testimony__quote">
            {{'homePage.section_3.second_article.quote' | translate}}
          </blockquote>
          <div class="testimony__info">
            <cite class="testimony__author">{{'homePage.section_3.second_article.cite' | translate}}</cite>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="section gallery" aria-labelledby="gallery-title">
    <h2 id="gallery-title" class="section__title">{{'homePage.section_4.title' | translate}}</h2>
    <div class="section__content">
      <figure class="image">
        <img
          src="assets/home-page-gallery-1.webp"
          alt="Person holding a black device case"
        />
        <p class="image__infos">
          {{'homePage.section_4.links.by' | translate}}
          <a
            href="https://unsplash.com/@sigmund?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Sigmund's profile on Unsplash"
            >Sigmund</a
          >
          {{'homePage.section_4.links.on' | translate}}
          <a
            href="https://unsplash.com/photos/person-holding-black-plastic-case-HE1zW44Zm_Y?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </p>
      </figure>

      <figure class="image">
        <img
          src="assets/home-page-gallery-2.webp"
          alt="A person's hand on a table with a chain attached to it"
        />
        <div class="image__infos">
          {{'homePage.section_4.links.by' | translate}}
          <a
            href="https://unsplash.com/@elizabeth_woolner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Elizabeth Woolner's profile on Unsplash"
            >Elizabeth Woolner</a
          >
          {{'homePage.section_4.links.on' | translate}}
          <a
            href="https://unsplash.com/photos/a-persons-hand-on-a-table-with-a-chain-attached-to-it-oRZJSFcFjNk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </div>
      </figure>

      <figure class="image">
        <img
          src="assets/home-page-gallery-3.webp"
          alt="Woman in black long sleeve shirt covering her face"
        />
        <div class="image__infos">
          {{'homePage.section_4.links.by' | translate}}
          <a
            href="https://unsplash.com/@ivalex?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Ivan Aleksic's profile on Unsplash"
            >Ivan Aleksic</a
          >
          {{'homePage.section_4.links.on' | translate}}
          <a
            href="https://unsplash.com/photos/woman-in-black-long-sleeve-shirt-covering-her-face-hko-iWhYdYE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </div>
      </figure>

      <figure class="image">
        <img
          src="assets/home-page-gallery-4.webp"
          alt="Man wearing red crew neck sweater with teal and black backpack"
        />
        <p class="image__infos">
          {{'homePage.section_4.links.by' | translate}}
          <a
            href="https://unsplash.com/@franganillo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="Visit Jorge Franganillo's profile on Unsplash"
            >Jorge Franganillo</a
          >
          {{'homePage.section_4.links.on' | translate}}
          <a
            href="https://unsplash.com/photos/man-wearing-red-crew-neck-sweater-with-teal-and-black-backpack-outdoor-during-daytime-6KO9KV8QP-c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            aria-label="View original image on Unsplash"
            >Unsplash</a
          >
        </p>
      </figure>
    </div>
  </section>
</main>
